/1_parameter.py
/4_parameters.py
/Another example of return values in functions.py
/codetofindthesmallestnumber.py
/Definiteforloop.py
/Else if statement.py
/Finding average using functions.py
/If statement.py
/ifelseelif.py
/Practice.py
/returnvaluesinfunctions.py
/simple_calculator.py
/Storing an argument in a variable.py
/Testing if and else with complex arguments.py
/UktoUsSizeConverter.py
/User input in functions.py
/User_defined-function.py
/Using generic names in functions.py
/Using return values in functions.py